<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Crear Servicios</h3>
                </div>
                <div class="card-body">
                    <form>
                        <input type="hidden" name="id" [(ngModel)]="service.id">
                        <div class="mb-3">
                            <label for="service_name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" [(ngModel)]="service.name" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="service_cost" class="form-label">Costo</label>
                            <input type="number" class="form-control" [(ngModel)]="service.cost" name="cost">
                        </div>
                        <div class="mb-3">
                            <label for="service_description" class="form-label">Descripción</label>
                            <textarea class="form-control" [(ngModel)]="service.description" name="description" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="service-dateStart" class="form-label">Fecha Inicio</label>
                            <input type="date" class="form-control" [(ngModel)]="service.dateStart" name="dateStart">
                        </div>
                        <div class="mb-3">
                            <label for="service-dateEnd" class="form-label">Fecha Fin</label>
                            <input type="date" class="form-control" [(ngModel)]="service.dateEnd" name="dateEnd">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="addService()">Guardar Servicio</button>
                    </form>
                </div>
                <div class="card-header border-0">
                    <h3 class="mb-0">Servicios</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Fecha Fin</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of services">
                                <td>{{ service.id }}</td>
                                <td>{{ service.name }}</td>
                                <td>{{ service.cost }}</td>
                                <td>{{ service.description }}</td>
                                <td>{{ service.dateStart | date: 'yyyy-MM-dd' }}</td>
                                <td>{{ service.dateEnd | date: 'yyyy-MM-dd' }}</td>
                                <td>
                                    <a (click)="updateService(service)"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a (click)="deleteService(service.id)"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>