<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Crear Productos</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="product_name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="product_name">
                        </div>
                        <div class="mb-3">
                            <label for="product_cost" class="form-label">Costo</label>
                            <input type="number" class="form-control" id="product_cost">
                        </div>
                        <div class="mb-3">
                            <label for="product_description" class="form-label">Descripción</label>
                            <textarea class="form-control" id="product_description" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="local-dateStart" class="form-label">Fecha Inicio</label>
                            <input type="date" class="form-control" id="local-dateStart">
                        </div>
                        <div class="mb-3">
                            <label for="local-dateEnd" class="form-label">Fecha Fin</label>
                            <input type="date" class="form-control" id="local-dateEnd">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Servicio</button>
                    </form>
                </div>
                <div class="card-header border-0">
                    <h3 class="mb-0">Servicios</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>
                                    <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href=""><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>