<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Crear Locales</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="local-name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="local-name">
                        </div>
                        <div class="mb-3">
                            <label for="local-site" class="form-label">Sitio</label>
                            <input type="number" class="form-control" id="local-site">
                        </div>
                        <div class="mb-3">
                            <label for="local-status" class="form-label">Estado</label>
                            <select class="custom-select" id="local-status">
                                <option selected>Seleccione el estado</option>
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="local-dateStart" class="form-label">Fecha Inicio</label>
                            <input type="date" class="form-control" id="local-dateStart">
                        </div>
                        <div class="mb-3">
                            <label for="local-dateEnd" class="form-label">Fecha Fin</label>
                            <input type="date" class="form-control" id="local-dateEnd">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Local</button>
                    </form>
                </div>
                <div class="card-header border-0">
                    <h3 class="mb-0">Locales</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>
                                    <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href=""><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>